{% extends "Base.html" %}

{% block title %} Cadastro de pessoa {% endblock title%}

{% block content %}

<div class="widget red">
                        <div class="widget-title">
                           <h4><i class="icon-bar-chart"></i> Notifications</h4>
                           <span class="tools">
                               <a href="javascript:;" class="icon-chevron-down"></a>
                               <a href="javascript:;" class="icon-remove"></a>
                           </span>
                        </div>
                      <div class="widget-body">
                          <div class="alert alert-block alert-warning fade in">
                              <button data-dismiss="alert" class="close" type="button">×</button>
                              <h4 class="alert-heading">Warning!</h4>
                              <p>
                                  Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                              </p>
                          </div>
                          <div class="alert alert-block alert-success fade in">
                              <button data-dismiss="alert" class="close" type="button">×</button>
                              <h4 class="alert-heading">Success!</h4>
                              <p>
                                  Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                              </p>
                          </div>
                          <div class="alert alert-block alert-info fade in">
                              <button data-dismiss="alert" class="close" type="button">×</button>
                              <h4 class="alert-heading">Info!</h4>
                              <p>
                                  Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                              </p>
                          </div>
                          <div class="alert alert-block alert-error fade in">
                              <button data-dismiss="alert" class="close" type="button">×</button>
                              <h4 class="alert-heading">Error!</h4>
                              <p>
                                  Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                              </p>
                          </div>
                      </div>
                  </div>

{% endblock content %}
